{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if metadata %}
        <title>{{ metadata.title }}</title>
    {% else %}
        <title>Nebula</title>
    {% endif %}

    <meta name="description" content="{{metadata.description}}"/>
    <meta name="keywords" content="{{metadata.keywords}}"/>

    <meta property="og:title" content="{{metadata.title}}"/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="Nebula sites builder"/>
    <meta property="og:description" content="{{metadata.description}}"/>

    <!-- Styles -->
    {% render_bundle 'main' 'css' 'DEFAULT' %}

    <!-- Scripts -->
    {% render_bundle 'main' 'js' 'DEFAULT' %}

</head>
<body>
    <!-- Navbar -->
    {% include 'partials/_header.html' %}
    
    <!-- Content -->
    <div class="content">
        {% block content %} 
        
        {% endblock %}
    </div>
    
    <!-- Footer -->
    {% include 'partials/_footer.html' %}

    <!-- Scripts -->
    {% render_bundle 'vendors~app' 'js' 'DEFAULT' %}
    {% render_bundle 'app' 'js' 'DEFAULT' %}
</body>
</html>