{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nebula Site Builder</title>
    {% render_bundle 'main' 'css' 'DEFAULT' %}
</head>
<body>
    <!-- Navbar -->
    {% include 'demo/partials/_header.html' %}
    
    <!-- Content -->
    <div class="content">
        {% block content %} 
        
        {% endblock %}
    </div>
    
    <!-- Footer -->
    {% include 'demo/partials/_footer.html' %}

    {% render_bundle 'main' 'js' 'DEFAULT' %}
</body>
</html>