.intro {
    background: url('../img/nebula.jpg') no-repeat;
    background-size: cover;
    font-size: $font-size-sm;
    min-height: $content-min-height;
    position: relative;
}

.intro-layer {
    background-color: $black;
    height: 100%;
    opacity: 0.45;
    position: absolute;
    width: 100%
}

.intro-jumbotron {
    background-color: transparent;
    color: $light;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @media (min-width: map-get($grid-breakpoints, 'md')) {
        width: auto;
    }
}