<header id="header" class="header">
  <nav class="header-navbar navbar" role="navigation" aria-label="main navigation">
    <div class="container">

      <div class="header-brand navbar-brand">
        <a class="navbar-item" href="/">
          Nebula
        </a>
    
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="/about" class="navbar-item">
            About
          </a>
          <a href="/" class="navbar-item">
            Documentation
          </a>
        </div>
    
        <div class="navbar-end">
          <a href="/" class="navbar-item">
            GitHub
          </a>
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </nav>
</header>
